.button {
    background-color: transparent;
    color: black;
    border: 0;
    display: inline-block;
    cursor: pointer;
    position: relative;

    svg {
        width: 36px;
    }

    .clock {
        width: 20px;
    }

    &_badge {
        position: absolute;
        top: 8px;
        right: 1px;
        width: 20px;
        height: 20px;
        background: #ff5722;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &_withtext {
        margin-top: 10px;
        width: auto;
        background-color: #e7eaf0;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 36px;
        cursor: pointer;
        outline: none;
        border: 0;

        svg {
            width: 32px;
            border: 1px;
            margin-right: 5px;
        }
    }
}
.taskaction {
    display: flex;
    gap: 10px;
    justify-content: center;

    &_finished {
        background-color: #e7eaf0;
        border-radius: 4px;
        border: 0;
        box-sizing: border-box;
        color: #4bb543;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        user-select: none;
        transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &_finished:hover {
        box-shadow: 0 0 2px 4px #d3ddf19f;
        transform: translateY(-2px);
    }
    &_edit {
        background-color: #e7eaf0;
        border-radius: 4px;
        border: 0;
        box-sizing: border-box;
        color: #ffbb33;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        user-select: none;
        transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &_edit:hover {
        box-shadow: 0 0 2px 4px #d3ddf19f;
        transform: translateY(-2px);
    }
    &_delete {
        background-color: #e7eaf0;
        border-radius: 4px;
        border: 0;
        box-sizing: border-box;
        color: #d9534f;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        user-select: none;
        transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &_delete:hover {
        box-shadow: 0 0 2px 4px #d3ddf19f;
        transform: translateY(-2px);
    }
    &_svg {
        width: 21px;
        border: 1px;
    }
}
