.todoscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    max-width: 340px;
    padding: 10px 10px 20px 10px;
    background: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h3 {
            margin-left: 5px;
        }
    }
    &_inputwrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        input {
            padding: 10px 16px;
            font-size: 16px;
            color: #32383c;
            background-color: #fff;
            border: 1px solid #e7eaf0;
            border-radius: 5px;
            margin-top: 5px;
            width: 70%;
            transition: all 0.2s ease;
        }
        &_input:focus {
            outline: none;
            box-shadow: 0 0 2px 4px #d3ddf1;
        }
        &_inputerror:focus {
            outline: none;
            box-shadow: 0 0 2px 4px #e629227a;
        }
        &_svg {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: all 0.3s ease;
            svg {
                width: 21px;
                color: #d9534f;
                stroke-width: 2px;
            }
            span {
                font-size: 14px;
                font-weight: 500;
                color: #d9534f;
            }
        }
    }
}
