.todoscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    max-width: 340px;
    padding: 10px 10px 20px 10px;
    background: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h3 {
            margin-left: 5px;
        }
    }
    &_inputwrapper {
        width: 280px;
        input {
            height: 45px;
            width: 100%;
            outline: none;
            border-radius: 5px;
            border: 1px solid #e7eaf0;
            color: black;
            font-size: 14px;
            background-color: #e7eaf0;
        }
    }
}
