@import "../../_base.scss";

.calendarscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 140px;
    right: 230px;
    width: 500px;
    height: 400px;
    max-width: 340px;
    padding: 10px 10px 20px 10px;
    background: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    &_header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    &_calendar {
        margin-bottom: 5px;
    }
    &_actions {
        margin-top: 5px;
        &_successbtn {
            background-color: #4bb543;
            border-radius: 4px;
            border: 0;
            box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            min-height: 36px;
            min-width: 120px;
            padding: 10px 16px;
            margin-right: 5px;
            position: relative;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        &_successbtn:hover {
            background-color: #37c72d;
            transform: translateY(-2px);
        }
        &_closebtn {
            background-color: #d9534f;
            border-radius: 4px;
            border: 0;
            box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset, rgba(0, 44, 97, 0.1) 0 3px 6px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            min-height: 36px;
            min-width: 50px;
            padding: 10px 12px;
            margin-right: 5px;
            position: relative;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
        }
        &_closebtn:hover {
            background-color: #e62922;
            transform: translateY(-2px);
        }
    }
}

@media only screen and (max-width: $breakpoint-x-large) {
    .calendarscreen {
        position: absolute;
        top: 100px;
        right: 45px;
    }
}

@media only screen and (max-width: $breakpoint-large) {
    .calendarscreen {
        position: absolute;
        top: 100px;
        right: 10px;
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    .calendarscreen {
        position: absolute;
        top: 100px;
        right: 10px;
        &_actions {
            &_successbtn {
                padding: 16px 44px;
                min-width: 150px;
            }
        }
    }
}
