@import "../../_base.scss";

.tasklist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 240px;
    width: 500px;
    height: 450px;
    max-width: 340px;
    padding: 10px 10px 20px 10px;
    background: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media only screen and (max-width: $breakpoint-x-large) {
    .tasklist {
        position: absolute;
        top: 72px;
        right: 70px;
    }
}

@media only screen and (max-width: $breakpoint-large) {
    .tasklist {
        position: absolute;
        top: 72px;
        right: 10px;
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    .tasklist {
        position: absolute;
        top: 72px;
        right: 10px;
    }
}
