@import "../../_base.scss";

.tasklist {
    display: flex;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 240px;
    width: 500px;
    height: 450px;
    max-width: 340px;
    padding: 10px 10px 20px 10px;
    background: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &_wrapper {
        overflow-y: auto;
        padding: 5px;
        &_todaysactivity {
            &_single {
                display: flex;
                align-items: center;
                height: 60px;
            }
        }
        &_pendingactivity {
            height: auto;
        }
        hr {
            border: 0;
            height: 1px;
            background: #ccc;
            margin: 4px 0;
            width: 280px;
            opacity: 0.5;
        }
        ul {
            li {
                list-style: none;
                font-size: 0.95rem;
                margin: 15px 0;
                display: flex;
                align-items: center;
            }
        }
        details {
            padding: 0 0.5rem;
            width: 100%;
            .arrow {
                transition: transform 0.3s ease;
            }
        }
        .detailscontent {
            display: flex;
            flex-direction: column;
            user-select: none;
            &_time {
                display: flex;
                align-items: center;
            }
        }
        summary {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            svg {
                width: 21px;
            }
        }
        details[open] {
            transition: transform 0.3s ease;
            .arrow {
                transform: rotate(180deg);
                transition: transform 0.3s ease;
            }
        }
    }
}
.complete {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    background: rgb(3, 245, 3);
    bottom: 0;
    right: 0;
}
.pending {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    background: #ffbb33;
    bottom: 0;
    right: 0;
}
.exeeded {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    background: #d9534f;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: $breakpoint-x-large) {
    .tasklist {
        position: absolute;
        top: 72px;
        right: 70px;
    }
}

@media only screen and (max-width: $breakpoint-large) {
    .tasklist {
        position: absolute;
        top: 72px;
        right: 10px;
    }
}

@media only screen and (max-width: $breakpoint-medium) {
    .tasklist {
        position: absolute;
        top: 72px;
        right: 10px;
    }
}
